<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts.js"></script>
<style>
html, body {
	height: 100%;
	overflow: hidden;
	margin: 0px
}

div.container {
    width: 100%;
	height: 100%;
    border: 1px solid gray;
}

img.logo{
            display: block;
            margin-left: auto;
            margin-right: auto;
}

header {
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    height: 15%;
    margin: 0px
}

footer {
	color: white;
    background-color: black;
    clear: left;
    text-align: center;
	height: 5%;
}

canvas {
	margin: auto;
	display: block;
}





div.menu {
    float: right;
    width: 25%;
    margin: 0;
    overflow: hidden;
    border: 1px solid gray;
    background-color: #583b27;
    height: 100%;
	background-image: url("../tlo-deski.jpg");
}

div.board {
	border: 1px solid gray;
    overflow: auto;
    height: 85%;
    margin-right: 25%;
    background-image: url("../tlo3.png");
    background-size: cover;
    background-attachment: local;
}

.przycisk {
	box-shadow: 0 9px #999;
}

.przycisk:active {
	box-shadow: 0 5px #666;
    transform: translateY(4px);
}

</style>
</head>


<body scroll = "no">

<script> 
	var roomNo = <%= roomNo %> 
	var username = "<%= username %>"
</script>


<div id = "cont" class="container">

<header>
   <img onclick = "na_glowna()" src="../zasoby/grajselogo.png" alt="grajse" class="logo"  style="height:100%";>
</header>

<div id="menu" class = "menu" >
	<div id = "prev">
		<div style="float: left; width=25%; margin-top: 10%; margin-right: 5%; margin-left: 5%">
			<img  id="prawo" onclick="rotate(1)" src = "../prawo.png">
		</div>
	
		<div style="float: left; width=50%; height: 10%">
			<canvas id="smallCanvas" style="margin-top: 5%"></canvas>
		</div>

		<div style="float: left; width=25%; margin-top: 10%; margin-left: 5%">
			<img id="lewo" onclick="rotate(-1)" src = "../lewo.png">
		</div>
	</div>
	
	<script>
		var hA = document.getElementById("menu").clientWidth
		var canA = document.getElementById("smallCanvas")
		document.getElementById("prev").setAttribute("style", "width: 100%; height: 40%")
		document.getElementById("prev").style.height = 0.6*hA
		console.log(document.getElementById("prev").style.height)
		document.getElementById("lewo").width = 0.1*hA
		document.getElementById("prawo").width = 0.1*hA
		canA.height = 0.5*hA
		canA.width = 0.5*hA
		//canA.margin-top = 0.25*hA
		//console.log(hA)
	</script>
	
	<div id = "buttons" style = "width: 100%">
		<img id="newGameButton" onclick="newGame()" style="display:none;" src = "../nowagra.png" width=100>
		<img  onclick="endTurn()" src="../koniectury.png" width=100>
	</div>
	<div id="stats" style = "color: white; text-align: center; font-size: large">
	</div>
</div>



<div class = "board">
  <canvas id="mainCanvas"></canvas>
</div>

<script>
	var h = document.getElementById("cont").offsetWidth
	var can = document.getElementById("mainCanvas")
	can.height = 0.75*h
	can.width = 0.75*h
	//console.log(h)
</script>

<script src="../client.js"></script>

</div>

</body>
</html>
