<html>
<head>
<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/scripts.js"></script>
</head>
<body>
	<script>
		$(document).ready(function(){
			$("#rejestracja_formularz").hide();
			$("#rejestracja_przycisk").click(function(){
				$("#rejestracja_formularz").toggle();
			});
		})
	</script>
	<table width="100%" style="table-layout:fixed;"> <tr>
		<td></td>
		<td style="text-align:center;"> <h1>Carcassone</h1> </td>
		<td valign="top" style="text-align:right;"> <a href="#" onclick="logIn()"> Logowanie </a> | <button id="rejestracja_przycisk"> Reyestracya </button> </td>
	</tr>
	<tr>
		<td></td>
		<td>
		<div align="center"> <font size="4"> <a href="/roomsList">Lista pokoyów</a> </font> </div>
		<div align="center"> <font size="4"> <a href="#" onclick="createRoom()">Stwórz pokóy</a> </font> </div>
		</td>
		<td><div align="right" id="rejestracja_formularz">
			<form metod="POST" action="register">
				<table>
				<tr><td><div align="right">Nazwa użytkownika:</div></td></tr>
				<tr><td><input type="text" name='nazwa' maxlength="20"/></td></tr>
				<tr><td><div align="right">Hasło:</div></td></tr>
				<tr><td><input type="password" name='haslo' maxlength="30"/></td></tr>
			</tr><td><input  type="submit" formmethod="post"  value="Zareyesruy"/></td></tr>
			</table>
			</form>
		</div>
		</td>
	</tr>
 </table>

</body>
</html>
