<html>
<head>
<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/scripts.js"></script>
</head>
<body>
	<table width="100%" style="table-layout:fixed;"> <tr>
		<td></td>
		<td style="text-align:center;"> <h1>Carcassone</h1> </td>
		<td valign="top" style="text-align:right;"> <a href="#" onclick="logIn()"> Logowanie </a> | <a href="#" onclick="register()"> Reyestracya </a> </td>
	</tr> </table>
	<div align="center"> <font size="4"> <a href="/roomsList">Lista pokoyów</a> </font> </div>
	<div align="center"> <font size="4"> <a href="#" onclick="createRoom()">Stwórz pokóy</a> </font> </div>
	<button onclick="register()">button</button>

</body>
</html>
